# Node.js dependencies
node_modules/
package-lock.json

# Environment variables and sensitive data
.env

# Temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
